
                    //  1st part starting css
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.con {
  max-width: 1450px;
  margin: auto;
}

/* navbar css start*/
.nav {
  width: 1290px;
  height: 88px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}

.nav-part1 {
  width: 808.84px;
  height: 44.13px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav-part2 {
  width: 347px;
  height: 44px;
  /* border: 1px solid black; */
}

.nav-part1-1 {
  width: 167px;
  height: 32px;
  /* border: 1px solid rgb(22, 77, 188); */
}

.nav-part1-2 {
  width: 611.84px;
  height: 44.13px;

  /* border: 1px solid rgb(222, 26, 92); */
}

.nav-part1-2 > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  font-size: 14.5px;
  color: #05073c;
}

.nav-part1-2 > ul > li {
  list-style: none;
  padding: 13px 10px 13px 20px;
  cursor: pointer;
}

.nav-part1-2 > ul > li:nth-of-type(1) {
  color: #eb662b;
}

.nav-part2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-part2-1 > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14.5px;
  color: #05073c;
}

.nav-part2-1 > ul > li {
  list-style: none;
  cursor: pointer;
}

.nav-part2-1 > ul > li:nth-of-type(1) {
  margin-left: 50px;
  margin-right: 42px;
}

.nav-part2-1 > ul > li:nth-of-type(2) {
  margin-right: 30px;
}

.nav-part2-1 > ul > li:nth-of-type(3) {
  margin-right: 30px;
}

.nav-part2-1 > ul > li:nth-of-type(4) {
  padding: 12px 21px;
  border: 1px solid black;
  border-radius: 200px;
  cursor: pointer;
}

/* navbar css end  */
.main-1 {
  height: 573px;
  margin-bottom: 182px;
  background-image: url("./Vector.png");
}

.mid-1 {
  width: 1320px;
  height: 640px;
  margin: auto;
  /* border: 1px solid red; */
}

.mid-11 {
  height: 80px;
  width: 1290px;
  margin: auto;
  /* border: 1px solid rgb(43, 0, 255); */
  margin-top: 29px;
  margin-bottom: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.mid-11 > .mid-left {
  width: 1133px;
  height: 60px;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-11 > .mid-right {
  width: 136px;
  height: 60px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb662b;
  border-radius: 12px;
  
}

.mid-11 > .mid-right > button {
  background-color: #eb662b;
  color: white;
  border: none;
  cursor: pointer;
}

.mid-left > .left-1 {
  width: 371px;
  height: 50px;
  /* border: 1px solid rgb(58, 212, 27); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.mid-left > .left-1 > div:nth-of-type(1) {
  width: 50px;
  height: 50px;
  border-radius: 12px;

  background-color: #eb662b0d;
}

.where > p:nth-of-type(1) {
  color: #05073c;
  font-size: 14.88px;
}

.where > p:nth-of-type(2) {
  font-size: 13.66px;
  color: #717171;
}

.when > p:nth-of-type(1) {
  color: #05073c;
  font-size: 14.88px;
}

.when > p:nth-of-type(2) {
  color: #05073c;
  font-size: 13.34px;
}

.mid-12 {
  width: 1290px;
  margin: auto;
  height: 500px;
  display: flex;
  /* margin-bottom: 115px;   */
}

.mid-12 > .image-section:nth-of-type(1) {
  width: 660px;
  height: 500px;
  /* border: 1px solid; */
  background-color: #eb662b;
  border-radius: 12px 0 0px 12px;
}

.mid-12 > .image-section:nth-of-type(2) {
  width: 630px;
  height: 500px;
  /* border: 1px solid; */
}

.mid-12 > .image-section:nth-of-type(2) > img {
  border-radius: 0 12px 12px 0;
}

.image-section-content {
  width: 426px;
  height: 266.13px;
  margin: 108px 0 0 150px;
  /* border: 1px solid; */
  position: relative;
}

.content-1 > p {
  font-size: 40px;
  color: white;
  font-weight: 700;
}

.content-1 + div > img {
  position: absolute;
  top: 5px;
  left: 194.94px;
}

.content-2 > p {
  position: absolute;
  color: #eb662b;
  left: 207.92px;
  top: 2px;
  font-weight: 700;
  font-size: 39.22px;
}

.content-4 > p {
  font-size: 39.84px;
  color: white;
  font-weight: 700;
}

.content-5 > p {
  font-size: 14.77px;
  color: white;
  margin-top: 8px;
}

.image-section-content > button {
  margin-top: 30px;
  padding: 21px 60.8px 21px 36px;
  background-color: white;
  font-size: 14.41px;
  font-weight: 400;
  color: #eb662b;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.special {
  width: 1320px;
  margin: auto;
  height: 205px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 105px;
}

.special-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid; */
}

.special-heading > h2 {
  margin: 5px 0 0 15px;
  font-size: 29.77px;
  font-weight: 700;
  color: #05073c;
}

.special-heading > p {
  font-size: 14.3px;
  font-weight: 400;
  margin: 21.88px 40.8px 0 0;
  color: #05073c;
}

.special-card {
  height: 100px;
  width: 1320px;
  /* border: 1px solid red; */
  display: flex;
  gap: 35px;
}

.special-card-1 {
  width: 283px;
  margin-left: 15px;
  display: flex;
  gap: 20px;
}

.last > p:nth-of-type(1) {
  margin: 10.94px 0 5.99px 0;
  font-size: 14.18px;
  font-weight: 400;
  color: #eb662b;
  padding: 7px 0;
}

.last > p:nth-of-type(2) {
  font-size: 14.88px;
  color: #05073c;
  font-weight: 500;
}

.featured {
  width: 1320px;
  margin: auto;
  height: 530.6px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-heading {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  /* border: 1px solid salmon; */
}

.feature-heading-left > h2 {
  font-size: 30px;
  font-size: 700;
  margin-top: 20px;
}

.feature-heading-right > p {
  font-size: 14.3px;
  font-size: 400;
  margin-top: 5px;
  border-radius: 12px;
  padding: 15.94px 98.27px 15.93px 21px;
  border: 1px solid #e7e6e6;
  cursor: pointer;
}

.feature-card {
  width: 1290px;
  margin: auto;
  height: 416.59px;
  /* border: 1px solid red; */
}

/* git  */

.feature-card {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  /* border: 1px solid rgb(232, 143, 25); */
  gap: 30px;
  height: 392.59px;
  margin: 45px 15px 0 15px;
}

.card {
  /* border: 1px solid red; */
  height: auto;
  position: relative;
  border-radius: 12px;
  border: 1px solid #e7e6e6;
}

.card > img {
  /* margin: 11px 11px 0 11px; */
  height: 212px;
  width: 298px;
  border-radius: 12px 12px 0 0;
}

.card > .btn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  position: absolute;
  background-color: white;
  top: 180.56px;
  right: -5px;
}

.card > h5 {
  margin: 10px 0 0 42px;
  color: #717171;
  font-family: Inter;
  font-size: 12.29px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
}

.card > h3 {
  font-family: Inter;
  font-size: 15.88px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin: 6px 0 0 21px;
  width: 225px;
}

.card > p {
  margin: 10px 0 0 101px;
  font-family: Inter;
  font-size: 12.49px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
}

.card > div {
  margin: 14.3px 21px 0 21px;
  border-top: 1px solid #e7e6e6;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.card > div > span {
  margin: 14px 0 2px 0;
  font-family: Inter;
  font-size: 12.59px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
}


.world{
  width: 1320px;
  height: 750px;
  margin: auto;
  /* border:  1px solid brown; */
  background-image: url("./background.png");
  position: relative;
}
.world-1{
  width: 440px;
  height: 350px;
  /* border: 1px solid red; */
  position: absolute;
  top: 199.82px;
  left: 110px;
}
.world-1>h2{
  margin: 15px;
  font-size: 39.38px;
  font-weight: 700;
  color: 05073C;
  width: 344px;
}
.world-1>p{
  font-size: 14.65px;
  font-weight: 400;
  width: 408.36px;
  margin-left: 15px;

}
.world-1>button{
  font-size: 14.53px;
  font-weight: 500;
  color: white;
  background-color: #eb662b;
  border: none;
  border-radius: 12px;
  padding: 17px 60px 17px 36px;
  margin: 81.12px 0 0 15px;
  cursor: pointer;
}
.world-2{
  width: 280px;
  height: 240px;
  /* border: 1px solid red; */
  position: absolute;
  top: 120px;
  left: 604.98px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.world-content>h1{
  text-align: center;
  font-size: 38.91px;
  color: #eb662b;
  font-weight: 700;
  line-height: 56px;
}
.world-content>p{
  text-align: center;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28px;
  color: #05073c;
}
.world-3{
  width: 280px;
  height: 240px;
  /* border: 1px solid red; */
  position: absolute;
  top: 390px;
  left: 604.98px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.world-4{
  width: 280px;
  height: 240px;
  /* border: 1px solid red; */
  position: absolute;
  top: 255px;
  right: 125.02px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


// 1st part end css